<div class="container my-3">
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid ">
      <h4 class="display-5 fw-bold">About this Angular To-Do Application</h4>
      <p class="col-md-8 fs-4">"Experience seamless productivity with our fast and efficient to-do list app powered by Angular. Stay organized and never miss a task as your data is securely stored in local storage for quick access. Enhance your workflow and achieve more with our responsive and user-friendly solution."</p>

        <p class="col-md-8 fs-4"> "Boost your productivity with our lightning-fast to-do list app built using Angular. With instant data storage in local storage, you can effortlessly manage your tasks and enjoy a seamless user experience. Stay organized and accomplish more in less time."</p>
        
            <p class="col-md-8 fs-4"> "Discover the power of our feature-rich to-do list app, crafted with Angular for optimal performance. Experience the speed and reliability of local storage, enabling you to effortlessly access and update your tasks. Streamline your workflow and stay on top of your goals with ease.</p>
      <button class="btn btn-primary btn-lg" type="button">Learn More</button>
    </div>
  </div>
</div>